@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 60%;
    min-height: 100px;
    margin: auto;
    border: 1px solid rgb(197, 181, 181);
    background: rgb(175, 175, 191);
    background: linear-gradient(90deg, rgb(118, 117, 143) 0%, rgba(9,100,121,0.7232142857142857) 35%, rgba(0,212,255,1) 100%);
}
.header{
    width: 50%;
    min-height: 50px;       
}
.header .logo{
    width: 120px;
    min-height: 60px;
    float: left;
}
.logo img{
    width: 100px;
    height:60%;
}
.header .name{ 
    width: 40%;     
    min-height: 60px; 
    float: left;    
} 
.name h1{
    margin-top: 30px;
}
.menu{
    width: 50%;
    height: 60px;
    float: left;

}
.menu a{
    margin-left: 10px;
    color: white;
    font-size: 20px;

}
.menu a:hover{
    color: red;
    border-radius: 10px;
}
.box{
    width: 80%;
    min-height: 100px;
    margin-top: 5px;
}
.box img{
    width: 80%;
    height: 100%;
}